@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: steelblue;
    font-family: 'Muli', sans-serif;;
    color: white;
    font-family: 'Muli', sans-serif;;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(24, 70, 97);
    padding: 50px 40px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: white;
}

main {
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}