@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;

}

:root {
    --navy-blue: #000080;
    --red-crimson: #DC143C;
    min-width: 400px;
    min-height: 820px;
  }

body {
    background-color: gray;
    font-family: 'Muli', sans-serif;;
    color: white;
    font-family: 'Muli', sans-serif;;
    margin: 0;
}

nav {
    background-color: black;
    margin: 0;
    padding: 0;
    max-width: 1920px;
}

img {
    width: 4rem;
}
