@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --navy-blue: #000080;
    --red-crimson: #DC143C;
  }

body {
    background-color: black;
    font-family: 'Muli', sans-serif;;
    color: white;
    font-family: 'Muli', sans-serif;;
    height: 100vh;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    max-width: 1000px;
    padding: 1rem;
    margin: auto;
    font-size: 1.54rem;
}